# This is a basic workflow to help you get started with Actions

name: CI for dotnet

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  schedule:
  - cron: "0 * * * *"
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel

jobs:

  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      # Runs a single command using the runners shell
      - name: Restore dependencies
        run: dotnet restore
        working-directory: ./dotnet/testapp

      - name: Build
        run: dotnet build --configuration Release --no-restore
        working-directory: ./dotnet/testapp
